/* 
    Small devices (portrait tablets and large phones, 768px and up) 
    Para iPad y mas grande
*/
@media only screen and (min-width: 768px) {
    h2 {font-size: 4vw;}
    h3 {font-size: 3vw;}
    p {font-size: 1.5vw;}
    
    /* Barra de navegación */
    
    #h_title {font-size: 5vw;}
    #h_menu {top:15vw}
    #h_menu a {font-size: 3vw;}
    #nav_gradient {
        height:18vw;
    }
    /* index.html */
    .imgUser {
        width: 1vw;
        height: 1vw
    }

    
    /* about.html */
    .wrapper {
        width: 100%;
        overflow: hidden;
    }
    .about_rb {
        font-size: 1.5vw;
        padding:2vw;
        padding-top:0;
        padding-left: 0;
        float:left;
        display: inline-block;
        width: 50%;
    }
    .map {
        display: inline-block;
        width: 45%;
        padding-bottom:40%;
        padding-right: 0;
        margin: 2vw;
        overflow: hidden;
        position:relative;
        height:0;
    }
    .map iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .about_img .about_img_cover {  
        float:left;
        display: inline-block;
        width: 40%;
        padding: 3vw;
        height: 43vw;
    }
    .about_name {
        font-size: 2vw;
    }
    .about_description {
        width:auto;
        padding-left: 38vw;
    }
    .about_experience {
        margin-top: 27vw;
    }
    
    .about_exp {
        width: 47%;
        margin:0.5vw;
    }

    .about_exp > img {
        width: 7vw;
    }
    .about_bar {
        width:20vw;
        height:2vw;
        margin-left: 1vw;
        border-radius: 20px;
    }
    .percent {
        width:20vw;
        margin-left: 0;
        border-radius: 20px;
    }
    .p30, .p50, .p75 {
         border-radius: 20px 0px 0px 20px;
    }
    .p30 {width:6.6vw;}
    .p50 {width:10vw;}
    .p75 {width:15vw;}
    

    /* contacto.html */
    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .input_text {
        width: 30%;
        height: 10%;
        padding: 1vw;
        margin: 1vw;
        flex-grow: 1;
        
    }
    .input_textarea {
        width: 70%;
        flex-grow: 1;
    }
    .input_button {
        width: 20vw;
        padding: 1vw;
        margin-left: 0;
        margin: 1vw;
        
    }
    .title_contacto {
        font-size: 1.5vw;
        width:100%;
        flex-grow: 1;
        padding-left:1vw;
    }
    /* footer.html */
    .social {
        width:4vw;
        height: 4vw;
    }
    .social > img{
        width: 5vw;
        height: 5vw;
        margin: 0vw
    }
    .texto_footer {
        font-size: 1.5vw;
    }
} 

/* 
    Large devices (laptops/desktops, 992px and up) 
    Para pantallas de pc en adelante
*/
@media only screen and (min-width: 992px) {
    body {
        margin: 4vw;
        padding: 2vw;
        margin-left:10vw;
        margin-right:10vw;
    }
    
    h2 {font-size: 3vw;}
    h3 {font-size: 2vw;}
    p {font-size: 2vw;}
    
    /* Barra de navegación */
    #h_title {font-size: 2vw;}
    #h_menu {
        top: 7vw;
        right: 12vw;
        text-align: right
    }
    #h_menu a {font-size: 2vw}
    #nav_gradient {
        height:10vw;
        background-image: linear-gradient(to top, rgba(255,0,0,0), #FCF8D7 50%);
    }
    .sticky {
        top:2vw;
    }
    .sticky > .h_menu_icon {
        right:24vw;
    }
    
    /* index.html */
    .p_portada p{
        font-size: 1vw;
    }
    
    .img_portada {
        width: 100%;
        height: 50vw;
        background-position: 6vw;
        background-size: cover;
        margin-left:12vw;
        background-repeat: no-repeat;
        background-size: 79vw;
    }
    
    h1 {
        font-size: 7vw;
        margin-top: 7vw;
        margin-bottom: 2vw
    }
    
    .aboutus p {
        font-size: 1vw
    }
    
    .imgUser {
        width: 10vw;
        height: 10vw
    }
    
    /* about.html */
    .wrapper {
        width: 100%;
        overflow: hidden;
    }
    .about_rb {
        font-size: 1vw;
        padding:2vw;
        padding-left: 0;
        padding-top:0;
        float:left;
        display: inline-block;
        width: 50%;
    }
    .map {
        display: inline-block;
        width: 39%;
        padding-bottom:40%;
        margin: 2vw;
        padding-right: 0;
        overflow: hidden;
        position:relative;
        height:0;
    }
    .map iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .about_img .about_img_cover {  
        float:left;
        display: inline-block;
        width: 35%;
        padding: 1.5vw;
        height: 32vw;
    }
    .about_name {
        font-size: 1.5vw;
    }
    .about_description {
        width:auto;
        font-size: 1.5vw;
        padding-left: 28vw;
    }
    .about_description p {font-size: 1vw; }
    
    .about_experience {
        font-size: 1vw;
        margin-top: 0vw;
    }
    
    .about_exp {
        width: 47%;
        margin:0.5vw;
    }
    .about_exp > img {
        width: 4vw;
    }
    .about_bar {
        width:13vw;
        height:2vw;
        margin-left: 1vw;
        border-radius: 20px;
    }
    .percent {
        width:13vw;
        margin-left: 0;
        border-radius: 20px;
    }
    .p30, .p50, .p75 {
         border-radius: 20px 0px 0px 20px;
    }
    .p30 {width:4.3vw;}
    .p50 {width:6.5vw;}
    .p75 {width:9.75vw;}

    /* contacto.html */
    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .title_contacto {
        font-size: 1.5vw;
        width:100%;
        flex-grow: 1;
        padding-left:1vw
    }
    .input_text {
        width: 30%;
        height: 10%;
        padding: 1vw;
        margin: 1vw;
        flex-grow: 1;
    }
    .input_textarea {
        width: 70%;
        flex-grow: 1;
    }
    .input_button {
        width: 20vw;
        padding: 1vw;
        margin-left: 0;
        margin: 1vw;
    }
    
    /* footer.html */
    .social {
        margin:1vw;
        width: 5vw;
        height: 5vw;
    }
    .social > img {
        margin:0vw;
        width: 5vw;
        height: 5vw;
    }
    .texto_footer {
        font-size: 1vw;
    }
} 
