* {
    box-sizing: border-box;
}
body {
    opacity: 0;
    margin: 2vw;
    margin-top: 8vw;
    padding: 4vw;
    font-family: 'Poppins', sans-serif;
    background-color: #FCF8D7;
    color: #707070;
    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
    text-align:justify; 
}

/*
    Barra de Navegación
*/
#h_title {
    float: left;
    font-family: 'Poppins', sans-serif;
    color: #FCBEBE;
    font-weight: 400;
    font-size: 6vw;
    text-decoration-line: none;
}
#h_title span {
    font-weight: 800;
}


#header {
    width:100%;
    overflow: hidden;
    z-index:99999;
} 

#h_nav {
    z-index: 100;
}

.sticky {
    position: fixed;
    top: 6vw;
    width: 100%;
}

.sticky > .h_menu_icon {
    right:12vw;
}

#h_menu {
    position: fixed;
    top: 20vw;
    right: 6vw;
    float: right;
    text-align: right;
    display: none;
    z-index: 2;
}

#h_menu a {
    font-size: 8vw;
    font-weight: 600;
    color: #707070;
    text-decoration-line: none;
}
#h_menu a:visited {
    color: #707070;
}

#h_menu_bkg {
    position: fixed;
    left:0px;
    top:0px;
    width: 100%;
    height: 100%;
    background-image: -moz-linear-gradient(to right, rgba(255,255,255,0.6), rgba(252, 239, 175,1) 70%);
    background-image: -webkit-linear-gradient(to right, rgba(255,255,255,0.6), rgba(252, 239, 175,1) 70%);
    background-image: linear-gradient(to right, rgba(255,255,255,0.6), rgba(252, 239, 175,1) 70%);
    display: none;
}

.h_menu_icon {
    position:absolute;
    right: 6vw;
    cursor: pointer;
    z-index: 2;
    
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 2px;
    background-color: #FCBEBE;
    margin: 6px 0;
    transition: 0.4s;
    z-index: 2;
}

.change .bar1 {
    -webkit-transform: translate(0px, 8px) rotate(-45deg);
    transform: translate(0px, 8px) rotate(-45deg);
    z-index: 2;
}

.change .bar2 {opacity: 0;
z-index: 2;}

.change .bar3 {
    -webkit-transform: translate(0px, -8px) rotate(45deg) ;
    transform: translate(0px, -8px) rotate(45deg);
    z-index: 2;
}

#nav_gradient {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background-image: -moz-linear-gradient(to top, rgba(255,0,0,0), #FCF8D7 20%);
    background-image: -webkit-linear-gradient(to top, rgba(255,0,0,0), #FCF8D7 20%);
    background-image: linear-gradient(to top, rgba(255,0,0,0), #FCF8D7 20%);
    z-index:99;
    height:25vw;
}

.flex-items{
    width: 10%;
    margin: 10px;
}

.texto_footer {
    font-size: 2.5vw;
    color: #FCBEBE;
    text-align: center;
}

li {
      list-style-type: none;
}

h1 {
    font-size: 14vw;
    color: #707070;
    text-align: left;
    margin-bottom: 6vw
}

p {
    font-size: 3vw;
    color: #707070;
}


h2 {
    font-size: 10vw;
}

.aboutus h2 {
    margin-top: 0
}
h3 {
    font-size: 7vw;
}

.input_text {
    width: 82vw;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    border: 0px;
    outline: none;
    padding: 5vw;
    margin: 3vw;
    background-color: #FFF78873;
    color: #FCBEBE;
}

.input_text::placeholder {
    font-family: 'Poppins', sans-serif;
    color: #FCBEBE80;
}

.input_textarea {
    width: 82vw;
    min-height: 10vh;
    font-family: 'Poppins', sans-serif;
}

.input_button {
    color: white;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    border: 0px;
    outline: none;
    padding: 3vw;
    margin: 3vw;
    background-color: #FCBEBE;
    text-align:center;
    margin-left: 25vw;
    width: 40vw;
}


.map {
    position: relative;
    padding-bottom: 75%; 
    height: 0;
    overflow: hidden;
    z-index: -1;
}
.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.about_img_cover {
    background-color: floralwhite;
    height: 100vw;
    padding: 4vw;
    text-align: center;
}

.about_name {
    position: relative;
    font-size: 5vw;
    font-weight: 600;
    top: 2vw;
}


.about_experience {
    text-align: center;
}

.exp_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

.about_exp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 4vw;
}

.about_exp_img {
    display: inline-flex;
    margin:auto;
}

.about_bar {
    background-color: floralwhite;
    width:50vw;
    height:7vw;
    margin-left: 4vw;
    border-radius: 20px;
    position:relative;
    z-index: -1;
}

.percent {
    position:absolute;
    background-color: rgba(252, 239, 175,1);
    width:50vw;
    margin-left: 0;
    border-radius: 20px;
    z-index: -1;
}

.p30, .p50, .p75 {
     border-radius: 20px 0px 0px 20px;
}
.p30 {width:20vw;}
.p50 {width:25vw;}
.p75 {width:37.5vw;}

.about_img_cover > img {
    position: relative;
    width: 100%;
}

.about_exp > img {
    width: 15vw;
}

.img_portada {
    top:-23vw;
    position: relative;
    background-image: url("../src/surface.png");
    width: calc(100% + 5.99vw);
    height: 80vw;
    background-position: -8vw;
    background-size: cover;

}

.p_portada {
    width: 45%;
    position: absolute;
    overflow: hidden;
}

.imgUser {
    width: 30vw;
    height: 30vw;
}

.flex-container{
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    
    flex-flow: row;
    -webkit-flex-flow: row;
    
    justify-content:center;
}

.flex-item{
    margin:2vw;
}
.social > img{
    width: 12vw;
    height: 12vw;
}

.social {
    width:12vw;
    height: 12vw;
}

#footer {
    margin-top:10vw;
    margin-bottom:-3vw;
}

.clickbox {
    cursor: pointer;
}


.audio_player {
    display: none;
    border-radius: 7.5px 7.5px 0 0;
    bottom:0vw;
    left:12.5%;
    position:fixed;
    width:75%;
    height: 65vw;
    background-color: white;
    -webkit-box-shadow: 0px -2px 47px -3px rgba(179,179,179,1);
    -moz-box-shadow: 0px -2px 47px -3px rgba(179,179,179,1);
    box-shadow: 0px -2px 47px -3px rgba(179,179,179,1);
    padding: 6vw;
}

@keyframes audioIn {
    from {
        bottom:-80vw;
    }
    to {
        bottom:0vw;
    }
}

@keyframes audioOut {
    from {
        bottom:0vw;
    }
    to {
        bottom:-80vw;
    }
}


.ap_cover {
    display: block;
    position: relative;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(143,135,143,1);
    -moz-box-shadow: 0px 0px 4px 0px rgba(143,135,143,1);
    box-shadow: 0px 0px 4px 0px rgba(143,135,143,1);
    width: 20vw;
    height: 20vw;
}

.ap_cover > img {
    
    border-radius: 3px;
    max-width:100%;
    max-height:100%;
}

.ap_title {
    position:absolute;
    display:block;
    top:6vw;
    left: 32vw;
    font-weight: 600;
    text-align: left;
    margin-right: 4vw;
}

.ap_artist {
    font-weight: 100;
}

.ap_icon {
    width: 10vw;
    margin: 4vw;
    margin-bottom: 1vw;
}

.ap_icon > img {
    width: 100%;

}



.ap_playback {
    display: block;
    margin-top:6vw;
    margin-bottom: 6vw;
    height:3px;
    border-radius: 100px;
    background-color: #F0F0F0;
    text-align: center;
    
}

.ap_playback span {
    font-size: 3vw
}

.bar {
    top:-7vw;
    left:0;
    width: 0%;
    background-color: #707070;
    position: relative;
}



.lastprojects_flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.lastprojects_flex-items {
    position: relative;
    width: 100%;
    height: 50vw;
    margin: 1vw;
    
}

.lastprojects_flex-items:hover{
    -webkit-box-shadow: 0px 0px 40px 0px rgba(143,135,143,1);
    -moz-box-shadow: 0px 0px 40px 0px rgba(143,135,143,1);
    box-shadow: 0px 0px 40px 0px rgba(143,135,143,1);
}

.lastproj_gradient {
    background-image: -moz-linear-gradient(to top, rgba(255,0,0,0), #707070 100%);
    background-image: -webkit-linear-gradient(to top, rgba(255,0,0,0), #707070 100%);
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), #707070 100%);
    width: 100%;
    height: 50vw;
    z-index: 2;
}

.lastproj_img {
    position: relative;
    width:100%;
    height: 100%;
    z-index: -2;
    bottom:50vw
}

.lastproj_title {
    width: 100%;
    text-align: left;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 6vw;
    color: #FCBEBE;
    z-index: 2;
    position: absolute;
    bottom: 0vw;
    margin-left: 2vw;
    padding-right: 6vw;
    
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.lastproj_text {
    margin-top: 0vw;
    letter-spacing: 1px;
    font-size: 2.5vw;
    font-weight: 100;
    color: white;
}



.proj_flex-container {
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display:none;

    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
}

.proj_flex-item {
    font-family: 'Poppins', sans-serif;
    margin: 1vw;
    color: #FCBEBE;
}


#media-player {
	float:left;
	padding:1em 1em .5em;
	background-color:#333;
}

video {
	border:1px solid #2e52a4;
	width:305px;
	height:160px;
	background:#000;
}

button {
	width:16px;
	border:none;
	cursor:pointer;
	background:transparent url('buttons.png') no-repeat 0 0;
}

.pause { background-position:-19px 0; }
.stop { background-position:-38px 0; }
.volume-plus { background-position:-57px 0; }
.volume-minus { background-position:-76px 0; }
.mute { background-position:-95px 0; }
.unmute { background-position:-114px 0; }
.replay { background-position:-133px 0; }

progress {
	color:#fff;
	font-size:12px;
	width:172px;
	height:16px;
	border:none;
	margin-right:5px;
	background:#434343;
}
progress::-moz-progress-bar { background:#2e52a4; }

#media-play-list {
	float:left;
	clear:both;
	color:#aaa;
	width:100%;
	margin-top:10px;
	border-top:1px solid #2e52a4;
}
#media-play-list  h2 { font-size:12px; }

#play-list {
	padding:0;
	font-size:12px;
	list-style-type:none;
}
#play-list li {
	cursor:pointer;
	padding-left:15px;
	background:transparent url('item.png') no-repeat 0 4px;
}


.arrow-down {
    display: inline-block;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    vertical-align: middle;
    border-top: 8px solid #FCBEBE;
    -webkit-transform: rotate(0deg);
}

@keyframes arrowUp {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@keyframes arrowDown {
    from {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}


#dd_current > h3{
    margin-top: 0vw;
    font-weight: 100;
    color: #FCBEBE;
}

.dropdown-content > p {
    font-weight: 100;
    font-size: 5vw;
    color: #FCBEBE;
    margin:3vw;
    margin-left: 0;
}

.dropdown {
    position:relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: relative;
    min-width: 160px;
    z-index: 1;
    margin-bottom: 10vw;
}



.video_controlers {
    
    padding: 2vw;
    
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    
    justify-content:space-between;
    
}

#b_play {
}

#b_stop {
}

#b_pause {
}

#b_forward {
}

#b_max {
}

#videovolume {
}


#myProgress {
    background-color: #ddd;
}

#myBar {
    width: 1%;
    height: 30px;
    background-color: #4CAF50;
}
